body {
 overflow: hidden;
}

#gameContainer {
  position: relative;
  overflow: hidden;
  background: #B0DAF1;
}

#scoreContainer{
  font-size: 24px;
  font-weight: bold;
  color: black;
  text-align: right;
}

#gamePlayer {
  width: 100px;
  height: 100px;
  position: absolute;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
}

.coffeeCup {
  width: 30px;
  height: 50px;
  background: white;
  position: absolute;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
}

h1 {
font-family: 'Special Elite';
color: #001242;
font-size: 64px;
position:absolute;
padding: 20px;
margin: 20px;
}

p{
  font-family: 'Special Elite';
  color: #001242;
  font-size: 24px;
  text-align: center;
  padding:120px;
  margin:50;
  transition: 3s;
}
